---
layout: base.njk
title: Tailwind CSS Cheatsheet!
---
<main class="container">
    <section class="mx-auto max-w-md">
        <a href="/tailwind">Tailwind cheatsheet</a>
    </section>
</main>
